body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 0 auto;
    padding: 4px;
    margin-top: 32px;
}
.header-page .container {
    display: flex;
    align-items: center;
}
.header-page-navigation {
    display: flex;
    gap: 375px;
    align-items: center;
}
.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}
.header-page-nav-list {
     display: flex;
     gap: 4px;
     align-items: center;
}
.nav-list-item {
     
}
.nav-list-link {
     background-color: #1b414b;
     border-radius: 8px;
     padding: 15px 25px 15px 24px;
     display: block;
     font-weight: 400;
     font-size: 9px;
     line-height: 1.3;
     text-transform: uppercase;
     color: #fbfbfb; 
}
.nav-list-link:hover, .nav-list-link:focus {
    background: #39b6cc;
}
.current {

}

.header-page-social-list {
     display: flex;
     gap: 10px;
     margin-left: auto;
}
.social-list-item {
     width: 24px;
     height: 24px;
}
.social-link {
     background-color: #1b414b;
     color: #fbfbfb;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.socials-link:hover, .socials-link:focus {
     background: #39afc4;
}
.main-section {
    padding-top: 155px;
    padding-bottom: 90px;
}

.main-section .container {
    width: 1001px;
    margin: 0 auto;
}

.main-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
}

.main-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    max-width: 597px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.btn-rent {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    background-color: #1b414b;
    display: block;
    min-width: 179px;
    height: 52px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.btn-rent:hover,
.btn-rent:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}
.fleet-section {
    background: #fbfbfb;
    border-radius: 24px;
    width: 1340px;
    margin: 0 auto;
}
.fleet-section .container {
    display: flex;
    padding: 50px 50px 0 50px;
}
.fleet-container {
    max-width: 404px;
}
.fleet-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 537px;
    margin-right: 299px;
}
.fleet-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}
.fleet-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    margin-bottom: 98px;
}
