body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero-image {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 0 auto;
    padding: 4px;
    margin-top: 32px;
}
.header-page .container {
    display: flex;
    align-items: center;
}
.header-page-navigation {
    display: flex;
    gap: 375px;
    align-items: center;
}
.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}
.header-page-nav-list {
     display: flex;
     gap: 4px;
     align-items: center;
}

.nav-list-link {
     background-color: #1b414b;
     border-radius: 8px;
     padding: 15px 25px 15px 24px;
     display: block;
     font-weight: 400;
     font-size: 9px;
     line-height: 1.3;
     text-transform: uppercase;
     color: #fbfbfb; 
}
.nav-list-link:hover, .nav-list-link:focus {
    background: #39b6cc;
}


.header-page-social-list {
     display: flex;
     gap: 10px;
     margin-left: auto;
}
.social-list-item {
     width: 24px;
     height: 24px;
}
.social-link {
     color: #fbfbfb;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fbfbfb;
}
.icon-social {
    fill: #1b414b;
}

.social-link:hover, .socials-link:focus {
     background: #39afc4;
}
.main-section {
    padding-top: 155px;
    padding-bottom: 90px;
}

.main-section .container {
    width: 1001px;
    margin: 0 auto;
}

.main-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
}

.main-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    max-width: 597px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.btn-rent {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    background-color: #1b414b;
    display: block;
    min-width: 179px;
    height: 52px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.btn-rent:hover,
.btn-rent:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}
.fleet-section {
    background: #fbfbfb;
    border-radius: 24px;
    width: 1340px;
    margin: 0 auto;
}
.fleet-section .container {
    display: flex;
    padding: 50px 50px 0 50px;
}
.fleet-container {
    max-width: 404px;
}
.fleet-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 537px;
    margin-right: 299px;
}
.fleet-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}
.fleet-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    margin-bottom: 98px;
}
.image-container {
    margin-bottom: 150px;
}
.choose-section {
    margin-bottom: 150px;
}
.choose-section .container {
    max-width: 1270px;
    margin-bottom: 48px;
    
}

.choose-section .choose-yacht-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 714px;
    margin: 0 auto 75px;
    
}
.yacht-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.yacht-card {
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 16px 16px 32px;
}
.title-container {
    max-width: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto 16px;
}

.yacht-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}
.yacht-list-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.yacht-details {
    max-width: 328px;
    margin: 16px auto 0;
}

.yacht-details li {
    display: flex;
    justify-content: space-between;
}
.yacht-details-labels {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
    min-width: 62px;
    display: inline-block;
    margin-bottom: 6px;
}

.yacht-details-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
    display: inline-block;
    min-width: 94px;
    margin-bottom: 6px;
}
.yacht-details li:last-child p {
    margin-bottom: 0;
}

.btn-rent-two {
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    display: block;
    min-width: 179px;
    height: 52px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    background-color: #0e1823;
}
.btn-rent-two:hover,
.btn-rent-two:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}
.advantages-section {
    margin-bottom: 150px;
}
.advantages-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.advantages-box {
    display: flex;
    gap: 32px;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1b414b;
    border-radius: 24px;
    row-gap: 44px;
    column-gap: 32px;
    padding: 90px 50px;

}
.advantages-item {
    width: 318px;
}

.advantages-item-number {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    margin-bottom: 18px;
}
.hr-advantages {
    margin-bottom: 18px;
}

.advantages-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}

.rent-section {
    margin-bottom: 150px;
}
.rent-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 50px;

}

.rent-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 50px;
}

.form-rent-yacht {
    width: 472px;
    margin-bottom: 50px;
}

.label-form {
    display: block;
    margin-bottom: 18px;
}

.input-form {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    height: 54px;
    background-color: transparent;
}

.label-textarea {
    display: block;
    margin-bottom: 50px;
}

.textarea-form {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(251, 251, 251, 0.4);
    resize: none;
    width: 100%;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 18px;
    height: 116px;
    background-color: transparent;
}
.btn-form {
    border-radius: 15px;
    padding: 18px 75px;
    min-width: 194px;
    height: 56px;
    background-color: #1b414b;
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}
.btn-form:hover,
.btn-form:focus {
    color: #1b414b;
    background-color: #fbfbfb;
}
.service-section {
    margin-bottom: 150px;
}
.service-container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 75px;
}
.service-container-text {
    max-width: 854px;
    margin: 0 auto;
}
.service-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;
}
.service-text {
    max-width: 571px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
}
.service-list {
    display: flex;
    gap: 32px;
    justify-content: center;

}
.service-item {
    border-radius: 24px;
    padding: 32px 36px;
    width: 392px;
    background-color: #fbfbfb;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.service-person-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    margin-bottom: 8px;
}

.service-person-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

.page-footer .container {
    background-color: #1b414b;
    border-radius: 24px 24px 0 0;
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-top {
    display: flex;
    margin-bottom: 96px;
}

.footer-nav {
    display: flex;
    align-items: center;

}

.footer-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    margin-right: 409px;
}

.footer-menu {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-right: 388px;
}

.footer-menu-item {
    background-color: rgba(251, 251, 251, 0.3);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;

}

.footer-menu-item:hover,
.footer-menu-item:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}


.footer-socials {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.footer-socials-item {
    width: 24px;
    height: 24px;
}

.footer-socials-link {
    color: #1b414b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b414b;
}

.footer-icon-social {
    fill: #fbfbfb;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background: #39afc4;
}

.footer-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 699px;
    margin-bottom: 99px;
}


.nav-block-items {
    display: flex;
    gap: 32px;
}
.nav-block-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}
